@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FAF3E3;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
.bg-custom-green {
    background-color: #306846;
  }